#pantalla-animacion{
    display: none;
}
.cargando {
    width: 70px;
    height: 70px;
    border: 10px solid rgb(132, 132, 179);
    border-top: 10px solid rgb(221, 213, 213);
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    left: 50%;
    top: 250px;
}
#pantalla-cartas{
    display: none;
}
@keyframes girar {
    from {
        transform: rotate(0deg) scale(2) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1) scale(2) ;
    }
}
